                {% comment %}Fields CONTENT TYPE {% endcomment %}
                            {% assign pagefields = htmlComponent.data.fields %}
                            {% for field in pagefields  %}
                              {% if field.list  %}
                                {% assign posts = page.[field.list] %}      

                                                {% comment %}GROUP ELEMENT {% endcomment %}
                            {% include html_components/component_includes/groupelement.html %}
                {% comment %}GROUP FIELDS ELEMENT {% endcomment %}
                            {% include html_components/component_includes/groupfieldselement.html %}

                            {{groupElement}}
                              {{ groupdivUl }}  
                                {% for listfield in posts  %}
                                 {{ groupdivDiv }}
                                {% for post in field.fields %}                 
                                 
                                      {% case post.field %}

              {% comment %}IMAGE{% endcomment %}


              {% comment %}IMAGES{% endcomment %}                                   


              {% comment %}THUMBNAILS{% endcomment %}
                                        {% when 'thumbnails' %}


              {% comment %}GROUP{% endcomment %}
                                        {% when 'group' %}

                                          {% assign postsgroupfields = post.fields %}                                        

                                          
                                            <div class="group {{post.class}}">
                                            {% for postgroup in postsgroupfields %}
                                            
                                                  <div class="{{postgroup.field}} {{listfield.data.class}}">
                                                        {% if postgroup.data.icon %}
                                                            <i class="material-icons">{{postgroup.data.icon}}</i>
                                                        {% endif %}
                                                        {{ listfield.[postgroup.field] }}
                                                  </div>                                      
                                            {% endfor %}
                                             </div>
                                            
                                       

              {% comment %}ELSE{% endcomment %}
                                      {% else %}

                                        {% case field.list %}

                                        {% when 'images' %}
  
                                            
                                               <div class="post-image {{post.field}} " data-hash="{{ image.[field.data.images-hash] }}">
                                                       <img class="{{ post.data.class }}" src="{{ site.baseurl}}{{ post.data.images-path }}{{ listfield.[post.field] }}" alt="{{ image.alt }}">
                                               </div>
                                       
                                           

                                        {% else %}
                                    
                                     
                                              <div class="{{post.field}} {{listfield.data.class}}">
                                                    {% if post.data.icon %}
                                                        <i class="material-icons">{{post.data.icon}}</i>
                                                    {% endif %}
                                                    {{ listfield.[post.field] }}
                                              </div>
                                          

                                        {% endcase %}

                                    {% endcase %}
                                  {% endfor %}
                                  {{ groupdivDivEnd}} 
                                {% endfor %}
                              {{ groupdivUlEnd }}
                            {{ groupElementEnd }} 


                              {% else %}                    
                                <div class="{{field.field}}">{{ page.[field.field] }}</div>                     
                             

                {% comment %}GROUP ELEMENT {% endcomment %}
                            {% include html_components/component_includes/groupelement.html %}
                            {{groupElement}}
                {% comment %}GROUP FIELDS ELEMENT {% endcomment %}
                            {% include html_components/component_includes/groupfieldselementUL.html %}
                              {{ groupdivUl }}  
                                {% for post in field.fields %}                 
                                  
                                      {% case post.field %}

              {% comment %}IMAGE{% endcomment %}


              {% comment %}IMAGES{% endcomment %}                                   


              {% comment %}THUMBNAILS{% endcomment %}
                                        {% when 'thumbnails' %}


              {% comment %}GROUP{% endcomment %}
                                        {% when 'group' %}

                                          {% assign postsgroupfields = post.fields %}                                        
                                          {% for listfield in posts  %}
                                          {% include html_components/component_includes/groupfieldselementDIV.html %}
                                          {{ groupdivDiv }}
                                            <div class="group {{post.class}}">
                                            {% for postgroup in postsgroupfields %}
                                            
                                                  <div class="{{postgroup.field}} {{listfield.data.class}}">
                                                        {% if postgroup.data.icon %}
                                                            <i class="material-icons">{{postgroup.data.icon}}</i>
                                                        {% endif %}
                                                        {{ listfield.[postgroup.field] }}
                                                  </div>                                      
                                            {% endfor %}
                                             </div>
                                            {{ groupdivDivEnd}} 
                                          {% endfor %}

              {% comment %}ELSE{% endcomment %}
                                      {% else %}

                                        {% case field.list %}

                                        {% when 'images' %}
                                            {% for listfield in posts  %}
                                            {{ groupdivDiv }}
                                               <div class="post-image {{post.field}} " data-hash="{{ image.[field.data.images-hash] }}">
                                                       <img src="{{ site.baseurl}}{{ post.data.images-path }}{{ listfield.[post.field] }}" alt="{{ image.alt }}">
                                               </div>
                                             {{ groupdivDivEnd}} 
                                            {% endfor %}

                                        {% else %}
                                           {% for listfield in posts  %}
                                             {{ groupdivDiv }}
                                              <div class="{{post.field}} {{listfield.data.class}}">
                                                    {% if post.data.icon %}
                                                        <i class="material-icons">{{post.data.icon}}</i>
                                                    {% endif %}
                                                    {{ listfield.[post.field] }}
                                              </div>
                                              {{ groupdivDivEnd}}                                
                                            {% endfor %}
                                        {% endcase %}

                                    {% endcase %}
                                  
                                {% endfor %}
                              {{ groupdivUlEnd }}
                            {{ groupElementEnd }}  
                             {% endif %}                          
                          {% endfor %}