<!-- Check the group  html element -->
{{include.component-data.groupElement}}
{% if include.component-data.groupElement %}

  {% if include.component-data.groupElement.div %}
      {% capture groupdivDiv %}

        <div {% include simple_components/themeelement.html elementData=include.component-data.groupElement.div.theme %}>
         {% endcapture%}

      {% capture groupdivDivEnd %}</div>{% endcapture%}

  {% elsif include.component-data.groupElement.ul %}
        {% capture groupdivUl %}
            <ul {% include simple_components/themeelement.html elementData=include.component-data.groupElement.ul.theme %}>
            {% endcapture%}

         {% capture groupdivDiv %}
            <li {% include simple_components/themeelement.html elementData=include.component-data.groupElement.li.theme %}>
           {% endcapture%}

         {% capture groupdivDivEnd %}</li>{% endcapture%}{% capture groupdivUlEnd %}</ul>{% endcapture%}

  {% else %}

           {% capture groupdivUl %}{% endcapture%}
           {% capture groupdivUlEnd %}{% endcapture%}

           {% capture groupdivDiv %}{% endcapture%}
           {% capture groupdivDivEnd %}{% endcapture%}
  {% endif %}

{% endif %}
