<div class="ui left labeled button" tabindex="0">
  <a class="ui basic label">
    1,048
  </a>
  <div class="ui icon button">
    <i class="fork icon"></i>
  </div>
</div>


- field: link
  data:
     button: yes
     link: posts
     icon:
       class: cloud icon
     theme:
       class: ui icon button
