<button class="ui icon button">
  <i class="cloud icon"></i>
</button>

- field: link
  data:
     button: yes
     link: posts
     icon:
       class: cloud icon
     theme:
       class: ui icon button
