<!-- SEMANTIC -->
- field: link
  data:
     button: yes
     label: Add Friend
     link: /
     theme:
       class: ui basic button
     icon:
       class: icon user
       label:

<button class="ui basic button">
  <i class="icon user"></i>
  Add Friend
</button>
