<div class="ui fade reveal">
  <div class="visible content">
    <img src="/images/wireframe/square-image.png" class="ui small image">
  </div>
  <div class="hidden content">
    <img src="/images/avatar/large/ade.jpg" class="ui small image">
  </div>
</div>
