{% if include.component-data.groupFieldsElement %}
    {% if include.component-data.groupFieldsElement.div %}
        {% capture groupdivDiv %}
          <div {% include basic_components/pageincludes/themeelement.html elementData=include.component-data.groupFieldsElement.div.theme %}>

           {% endcapture%}

        {% capture groupdivDivEnd %}</div>{% endcapture%}

    {% elsif include.component-data.groupFieldsElement.ul %}

           {% capture groupdivDiv %}
              <li {% include basic_components/pageincludes/themeelement.html elementData=include.component-data.groupFieldsElement.li.theme %}>
             {% endcapture%}

           {% capture groupdivDivEnd %}</li>{% endcapture%}

    {% else %}
             {% capture groupdivDiv %}{% endcapture%}
             {% capture groupdivDivEnd %}{% endcapture%}
    {% endif %}

{% else %}
         {% capture groupdivDiv %}{% endcapture%}
         {% capture groupdivDivEnd %}{% endcapture%}
{% endif %}
