{% if include.component-data.groupFieldsElement %}
    {% if include.component-data.groupFieldsElement.div %}
        {% capture groupdivDiv %}
          <div {% for data in include.component-data.groupFieldsElement.div.theme %}
                  {% if data[1] contains "." %}
                   {% assign firstData = data[1] | split:"." | first %}
                   {% assign lastData  = data[1] | split:"." | last %}
                    {% case firstData %}
                      {% when 'post' %}
                         {{data[0]}}= "{{ post.[lastData] }}"
                      {% when 'page' %}
                         {{data[0]}}= "{{ page.[lastData] }}"
                    {% endcase %}               
                  {% else %}
                     {{data[0]}}="{{data[1]}}"
                  {% endif %}
              {% endfor %}>
           {% endcapture%}

        {% capture groupdivDivEnd %}</div>{% endcapture%}

    {% elsif include.component-data.groupFieldsElement.ul %}
          {% capture groupdivUl %}
              <ul {% include basic_components/pageincludes/themeelement.html elementData=include.component-data.groupFieldsElement.ul.theme %}>
              {% endcapture%}

           {% capture groupdivDiv %}
              <li {% include basic_components/pageincludes/themeelement.html elementData=section.groupFieldsElement.li.theme %}>
             {% endcapture%}

           {% capture groupdivDivEnd %}</li>{% endcapture%}{% capture groupdivUlEnd %}</ul>{% endcapture%}

    {% else %}
             {% capture groupdivUl %}{% endcapture%}
             {% capture groupdivUlEnd %}{% endcapture%}

             {% capture groupdivDiv %}{% endcapture%}
             {% capture groupdivDivEnd %}{% endcapture%}
    {% endif %}
{% else %}
         {% capture groupdivUl %}{% endcapture%}
         {% capture groupdivUlEnd %}{% endcapture%}
         {% capture groupdivDiv %}{% endcapture%}
         {% capture groupdivDivEnd %}{% endcapture%}
{% endif %}
