<!-- DEBUG FILE: html_components/fieldscases/linkCase.html -->
<!-- LINK FIELD -->
{% if include.field_Data.button %}
    {% capture linkElement %}<button class="{{include.field_Field}} {{include.field_Data.class}}">{% endcapture %}
    {% capture linkElementEnd %}</button>{% endcapture %}
{% elsif include.field_Data.element == 'none' %}
    {% capture linkElement %}{% endcapture %}
    {% capture linkElementEnd %}{% endcapture %}
{% else %}
    {% capture linkElement %}<div class="{{include.field_Field}} {{include.field_Data.class}}">{% endcapture %}
    {% capture linkElementEnd %}</div>{% endcapture %}
{% endif %}

{{ linkElement }}
<!-- LINK PATH Check for the link path if it is about posts or not -->
{% if include.field_Data.link %}
 {% capture aElement %}</a> {% endcapture %}
{% endif %}
 {% case include.field_Data.link %}
      {% when 'posts' %}
        <a {{include.field_Data.class}} href="{{ site.baseurl}}{{ post.url }}">{{ post.[include.field_Data.label-field] }}
      {% when 'buybutton' %}
        <a {{include.field_Data.class}} href="#"
           class="snipcart-add-item"
           data-item-id="{{ post.sku }}"
           data-item-name="{{ post.title }}"
           data-item-price="{{ post.price }}"
           data-item-weight="20"
           data-item-url="{{ site.url }}{{ site.baseurl }}"
           data-item-description="{{ post.description }}">
           Buy Snipcart
         </a>
      {% when nill %}
          <a {{include.field_Data.class}} href="{{ site.baseurl}}{{ post.link }}">
      {% else %}
          <a {{include.field_Data.class}} href="{{ include.field_Data.link }}">
 {% endcase %}

  <!-- LINK ICON -->
 {% if include.field_Data.icon %}
    <i class="{{ include.field_Data.icon.class }}">{{ include.field_Data.icon.label }}</i>
 {% endif %}

<!--  LINK LABEL -->
 {{ include.field_Data.label }}
  {{ aElement }}
{{linkElementEnd}}
