<!-- DEBUG FILE: html_components/fieldscases/videoCase.html -->
{% case include.field_Data.service %}

{% when 'youtube' %}
   <div class="video">
   <iframe width="640" height="360"  src="//www.youtube.com/embed/{{include.field_Data.video-id}}{{ post.video-id }}" frameborder="0" allowfullscreen></iframe>
      </div>

{% when 'vimeo' %}
    <div class="video">
   <iframe src="//player.vimeo.com/video/{{include.field_Data.video-id}}{{ post.video-id }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
   </div>

{% endcase %}
