<!-- DEBUG FILE: html_components/fieldscases/imagesCase.html -->
<!-- Loop through the images of the post and set limit -->

   {% if include.field_Data.tag %}
      {% assign photos = post.images | where: 'tag', include.field_Data.tag %}
   {% else %}
      {% assign photos = post.images %}
   {% endif %}

<!-- Loop through the images of the post and set limit -->
   {% for image in photos limit: include.field_Data.limit  %}
      <div {% include basic_components/pageincludes/themeelement.html elementData=include.field_Data.theme %} >
         {% if include.field_Data.link %} <a href="{{ site.baseurl}}{{ post.url }}"> {% capture linkEND %} </a> {% endcapture %} {% endif %}

         {% if image.[include.field_Data.image-hash] contains 'https://' or image.[include.field_Data.image-hash] contains 'http://'%}
              <img src="{{ image.[include.field_Data.image-hash] }}" alt="{{ image.alt }}">
           {% else %}
              <img src="{{ site.baseurl}}{{ include.field_Data.images-path }}{{ image.[include.field_Data.image-hash] }}" alt="{{ image.alt }}">
           {% endif %}
                 {{ linkEND }}
      </div>
   {% endfor %}
