<!-- DEBUG FILE: html_components/fieldscases/imageCase.html -->
<!-- Loop through the images and set limit -->
<div {% include basic_components/pageincludes/themeelement.html elementData=include.field_Data.theme %} >
  <picture>
      {% case include.field_Data.link %}
         {% when 'post' %}
               <a href="{{ site.baseurl}}{{ post.url }}"> {% capture linkEND %} </a> {% endcapture %}
         {% when 'products' %}
               <a href="{{ site.baseurl}}products/{{ post.sku }}.html"> {% capture linkEND %} </a> {% endcapture %}
         {% endcase %}

      {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
            <source media="(min-width: 40em)" srcset="big.jpg 1x, big-hd.jpg 2x">
            <source srcset="small.jpg 1x, small-hd.jpg 2x">
            <img src="fallback.jpg" alt="">
              <img
                  src="{{ post.[include.field_Data.image-hash] }}"
                  alt="{{ post.alt }}">
           {% else %}
              {% for source in post.picture %}
                <source {% for data in source.source %}{{data[0]}}="{{data[1]}}"{% endfor %}>
              {% endfor %}
              <img
                  src="{{ site.baseurl}}{{ include.field_Data.image-path }}{{ post.img }}"
                  alt="{{ post.alt }}">
           {% endif %}
     {{ linkEND }}
   </picture>
 </div>
