{% assign fields = include.component-data.fields %}

{% for field in fields %}
      {% if include.component-data.folder %}
         {% assign fieldContent = site.data.content.[include.component-data.folder].[include.component-data.content-type] %}
      {% elsif include.component-data.depth %}
         {% assign fieldContent = site.data.content.[include.component-data.content-type].[include.component-data.depth] %}
      {% else %}
         {% assign fieldContent = site.data.content.[include.component-data.content-type] %}
      {% endif %}

      {% if field.data.link %}
         <a {% include basic_components/pageincludes/themeelement.html elementData=field.data.theme %} href="{{site.baseurl}}{{ fieldContent.[field.data.link] }}">{{ fieldContent.[field.field] }}</a>
      {% elsif field.data.button %}
         <button {% include basic_components/pageincludes/themeelement.html elementData=field.data.theme %} href="{{site.baseurl}}{{ fieldContent.[field.data.link] }}">{{ fieldContent.[field.field] }}
          <span class="caret"></span>
          </button>
      {% else %}
            <div class="field {{field.field}} {{field.data.class}}">
                  {% if field.data.icon %}
                     <i class="material-icons">{{ field.data.icon }}</i>
                  {% endif %}
                     {{ fieldContent.[field.field] }}
            </div>
      {% endif%}
   {% endfor %}
