{% include html_components/component_includes/componentcontenttype.html %}


{% include html_components/component_includes/groupelement.html %}


{% include html_components/component_includes/groupfieldselement.html %}

{{ groupElement }}


      <!--    Filters for the listsjs  -->
      <div class="filter-categories">
         <ul>
       {% for element in include.component-data.javascript-plugin-data.filters %}     
            {% for filter in element.categories %}
                  <li id="filter-{{ filter.filter | slugify }}" >
                    {{ filter.filter }}
                     </li>
               {% endfor %}
         {% endfor %}    
         </ul>

      </div>
   
      {% if include.component-data.javascript-plugin-data.search %}
<!--    SEARCH -->
       <input class="search" placeholder="{{include.component-data.javascript-plugin-data.search.placeholder}}" />
      {% endif %}
      
<!--    SORT -->
      {% if include.component-data.javascript-plugin-data.sort %}
        <ul class="sort-by">
            {% for sort in include.component-data.javascript-plugin-data.sort %}
              <li class="sort btn" data-sort="{{ sort.data }}">{{ sort.label }}</li>
            {% endfor %}
        </ul>
      {% endif%}




{{ groupdivUl }}

     {% for post in posts limit:{{include.component-data.limit}} offset:{{include.component-data.offset}}%}
      
        {{ groupdivDiv }}

              {% assign fields = include.component-data.fields %}
              {% include html_components/component_includes/fieldscases.html componentData=include.component-data %}

        {{ groupdivDivEnd}}

      {% endfor %}

   {{ groupdivUlEnd }}
{{ groupElementEnd }}