<ul class="nav {{include.component-data.class }}  ">
{% for tab in include.component-data.navs %}
      {% assign tabID = forloop.index %}
      <li class="nav-item" role="presentation"><a href="#nav{{tabID}}">{{ tab.title }}</a>
      </li>
{% endfor %}
</ul>

{% for tab in include.component-data.navs %}
   {% assign tabID = forloop.index %}
  <div id="nav{{tabID}}">
    {% include html_components/component_includes/componenttitle.html component-data=tab.data %}
    {% case tab.data.component %}
      {% when "posts-list"%}
        {% include html_components/posts-list.html component-data=tab.data %}
      {% when "one-post"%}
        {% include html_components/one-post.html component-data=tab.data %}
    {% endcase %}
  </div>
{% endfor %}
