<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include examples/head.html %}

  <body data-spy="scroll" data-target=".scrollspy">
    <main class="main" aria-label="Content">
      {{ content }}
    </main>

    {% include examples/styleguide/scripts.html %}
  </body>

</html>
