<!DOCTYPE html>
<html lang="gr">

  {% include basic_components/head.html %}

  <body>


      <div class="page {{ page.pagetitle}}">

        {{ content }}

         </div>

      <script type="text/javascript" src="{{ site.baseurl }}/assets/js/components.js"></script>

     {% include basic_components/perpageplugins.html %}

  </body>

</html>
