---
title: MATERIALBOX
  a field to use when we want one image and the content has only one image
parameters:
    limit: specify the number of images to show
    link: |
      1. post:  the image links to the post's url
      2. products:  the image links to the products's url {{post.sku}}.html
    image-hash: how to loop through the images, we can use http://... so do not use image-path
    images-path: the folder where the images reside
    theme: theme the div of the image adding class, id or other attributes
default:
yaml: |
    - field: image
        data:
         limit:
         link:
           <select> post
           <select> products
         image-hash:
         images-path:
         theme:
           id:
           class:
debug: html_components/fieldscases/imagecase.html
example: |
  <div {% include basic_components/pageincludes/themeelement.html elementData=include.field_Data.theme %} >
     {% case include.field_Data.link %}
        {% when 'post' %}
              <a href="{{ site.baseurl}}{{ post.url }}"> {% capture linkEND %} </a> {% endcapture %}
        {% when 'products' %}
              <a href="{{ site.baseurl}}products/{{ post.sku }}.html"> {% capture linkEND %} </a> {% endcapture %}
     {% endcase %}
      {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
         <img src="{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% else %}
         <img src="{{ site.baseurl}}{{ include.field_Data.image-path }}{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% endif %}
      {{ linkEND }}
  </div>
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: image
                  data:
                     image-hash: image
                     theme:
                       class: post-image
                - field: title
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: image
                  data:
                     image-hash: image
                     theme:
                       class: post-image materialboxed
                - field: title

---

{% include basic_components/page.html %}
