<div class="card">

    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/office.jpg">
    </div>

    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
      <p><a href="#">This is a link</a></p>
    </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>

  </div>


  - section:
      data:
        htmlelement: section
      theme:
       class: classSection
    seoTitle:
      data:
        label: Cards
        separator: /
        link: /
    seoSubtitle:
      data:
        label: Seosubtitle
        separator:
        link: /
    wrapperSection:
     theme:
       class: wrapSection
    divs:
       - div:
           theme:
            class: card
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: images
                  data:
                     tag: main
                     image-hash: image
                     imgclass: activator
                     theme:
                       class: card-image waves-effect waves-block waves-light
                - field: title
                  
                - field: text
                  data:
                     text-teaser: yes
                     text-words: 150
                     more-label: more
                     class: card-reveal
                - field: link
                  data:
                     button: yes
                     link: posts
                     label: Link to post
