<!--             -->
<!-- COMPONENT POSTS LISTS -->
<!--             -->
<!-- DEBUG FILE: html_components/posts-list.html -->
<!-- Check the content type - Data or Collections - Posts -->
{% include html_components/component_includes/componentcontenttype.html %}
<!--  GROUP ELEMENT -->
{% include html_components/component_includes/groupelement.html %}
<!--  GROUP FIELDS ELEMENT -->

<!-- Loop through the posts and set a limit if there it exists -->
   {% for post in posts limit:{{include.component-data.limit}} offset:{{include.component-data.offset}}%}
      <!--  Component group fields html element-->
      <div class="carousel-item {{include.component-data.class}}" href="#{% cycle 'one', 'two', 'three', 'four' %}">
         <!--  If there is grouping div got fields -->
           {% if include.component-data.groupdiv != nill  %}
              {% for group in include.component-data.groupdiv %}
                 <div {% include basic_components/pageincludes/themeelement.html elementData=include.component-data.groupdiv.theme %}>
                    {% assign fields = group.fields %}
                       {% include html_components/component_includes/fieldscases.html %}
                 </div>
              {% endfor %}
           {% else %}
              <!-- Just print the fields -->
              <!-- Loop each field in the component -->
              {% assign fields = include.component-data.fields %}
              {% include html_components/component_includes/fieldscases.html componentData=include.component-data %}
           {% endif %}       <!--  END IF to check for GROUP -->
        <div>
      {% endfor %}
