<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
       {% if include.component-data.logo.image %}
         <a href="{{site.baseurl}}/" class="logo"><img src="{{site.baseurl}}{{include.component-data.logo.image}}" alt="{{ site.title }}"></a>
       {% else %}
         <a href="{{site.baseurl}}/" class="brand-logo">{{ include.component-data.logo.title }}</br>{{ include.component-data.logo.subtitle}}</a>
       {% endif %}
         <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
         <ul id="nav-mobile" class="right hide-on-med-and-down">
           {% for menu in site.data.content.menu %}
             {% comment %}Dropdown Trigger{% endcomment %}
             {% if menu.submenu %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown{{forloop.index}}">{{menu.name}}<i class="material-icons right">keyboard_arrow_down</i></a></li>
              {% else %}
                <li><a href="{{site.baseurl}}{{menu.url}}">{{menu.name}}</a></li>
              {% endif %}
           {% endfor %}
         </ul>
         <ul class="side-nav" id="mobile-demo">
           {% for menu in site.data.content.menu %}
             <li><a href="{{site.baseurl}}{{menu.url}}">{{menu.name}}</a></li>
           {% endfor %}
        </ul>
    </div>
  </nav>
</div>
{% comment %}Dropdown Structure {% endcomment %}
{% for menu in site.data.content.menu %}
  {% if menu.submenu %}
    <ul id="dropdown{{forloop.index}}" class="dropdown-content">
      {% for submenu in menu.submenu %}
        <li><a href="{{submenu.url}}">{{submenu.name}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endfor %}