---
title: GROUP FIELD
tag: fieldcase
description: |
          group certain fields in another div
parameters:
      background: to check if it works???? PROBLEM WITH MULTIPLE BACKGROUNDS
      image-hash:  if use http:// ...
      image: |
         1. filename
         2. multiple
      images-hash: linear
      images-path:
      link:
      class:
      fields:
       - field: use the groupfield cases
yaml: |
  - field: group
    background:
        image-hash:
        image:
        images-hash: linear
        images-path:
    link:
    class:
    fields:
     - field:
debug: html_components/fieldscases/datecase.html
example: |
    {% if field.background %}
           <div class="post-image-bg {{ field.class }}"
               {% if post.[field.background.image-hash] contains 'https://' or post.[field.background.image-hash] contains 'http://'%}
                   style="background-image:url({{ post.[field.background.image-hash] }})" >
               {% else %}
                     {{ field.background.image }}

                 {% if field.background.image == multiple %}
                   style="background-image:
                       {% for image-bg in post.images %}
                           {% if image-bg.[field.background.images-hash] contains linear %}
                               {{ image-bg.[field.background.images-hash]}}
                           {% endif %}
                           url({{ site.baseurl}}{{ field.background.images-path }}{{ image-bg.[field.background.images-hash] }})" {% unless forloop.index == last %},{% endunless%}
                       {% endfor %}

                   {% else %}
                           style="background-image:url({{ site.baseurl}}{{ field.background.images-path }}{{ post.[field.background.images-hash] }})" >
                 {% endif %}

               {% endif %}
           {% capture divEnd %}</div>{% endcapture %}

     {% elsif  field.link %}
           <a href="{{ post.url}}">
           {% capture divEnd %}</a>{% endcapture %}

     {% else %}
             <div class="{{ field.class }}">
                {% capture divEnd %}</div>{% endcapture%}
     {% endif %}
       {% assign groupfields = field.fields %}
       {% include html_components/component_includes/groupfieldscases.html %}
    {{ divEnd }}
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              title: title Component
              fields:
                - field: group
                  class: group class
                  background:
                    images-hash: image
                    link: /
                  fields:
                    - field: title
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              title: title Component
              fields:
                - field: group
                  class: group class
                  background:
                    images-hash: image
                    link: /
                  fields:
                    - field: title
---


{% include basic_components/page.html %}
