---
title: IMAGES FIELD
tag: fieldcase
description: |
      use this field when the content has a lot of images and I want to show them all or a part of them.
parameters:
      tag: a certain image with the tag ex. frontpage or main or ...
      limit: number oh images to show
      link: the image is a link or not - it links to post.url
      image-hash: how to loop through the images, we can use http://... so do not use image-path
      images-path: the folder where the images reside
      theme:
default:
yaml: |
    - field: images
        data:
          tag:
          limit:
          link:
          image-hash:
          images-path:
          theme:
            id:
            class:
debug: html_components/fieldscases/imagescase.html
example: |
  <div {% include basic_components/pageincludes/themeelement.html elementData=include.field_Data.theme %} >
     {% case include.field_Data.link %}
        {% when 'post' %}
              <a href="{{ site.baseurl}}{{ post.url }}"> {% capture linkEND %} </a> {% endcapture %}
        {% when 'products' %}
              <a href="{{ site.baseurl}}products/{{ post.sku }}.html"> {% capture linkEND %} </a> {% endcapture %}
     {% endcase %}
      {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
         <img src="{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% else %}
         <img src="{{ site.baseurl}}{{ include.field_Data.image-path }}{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% endif %}
      {{ linkEND }}
  </div>
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: images
                  data:
                     limit: 3
                     image-hash: image
                     theme:
                       class: post-image
                - field: title
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: images
                  data:
                     limit: 3
                     image-hash: image
                     theme:
                       class: post-image
                - field: title
---

{% include basic_components/page.html %}
