---
title: LINK FIELD
tag: fieldcase
description: |
  To FIX THE CLASS to a element ADD themeelement
   use this field when you want to create a link based on a field of the content or create a new link or button that points to the post or anywhere you want order inside a file
parameters:
  button: yes or just do not include optional if we want the element to be button
  link: |
   1. posts
   2. buybutton
   3. nill # it links to post.url
   4. <the url>
  label: the label of the link
  class: class to put in the link
  icon: |
      use an icon in a link,"<i class="[class]">[label]"
      - label: label inside the
yaml: |
      - field: link
          data:
            button: yes
            link: posts
            label:
            class:
            icon:
              class:
              label:
debug: html_components/fieldscases/linkCase.html
example: |
  {% if include.field_Data.button %}
      {% capture linkElement %}<button class="{{include.field_Field}} {{include.field_Data.class}}">{% endcapture %}
      {% capture linkElementEnd %}</button>{% endcapture %}
  {% elsif include.field_Data.element == 'none' %}
      {% capture linkElement %}{% endcapture %}
      {% capture linkElementEnd %}{% endcapture %}
  {% else %}
      {% capture linkElement %}<div class="{{include.field_Field}} {{include.field_Data.class}}">{% endcapture %}
      {% capture linkElementEnd %}</div>{% endcapture %}
  {% endif %}

  {{ linkElement }}
  <!-- LINK PATH Check for the link path if it is about posts or not -->
  {% if include.field_Data.link %}
   {% capture aElement %}</a> {% endcapture %}
  {% endif %}
   {% case include.field_Data.link %}
        {% when 'posts' %}
          <a {{include.field_Data.class}} href="{{ site.baseurl}}{{ post.url }}">{{ post.[include.field_Data.label-field] }}
        {% when 'buybutton' %}
          <a {{include.field_Data.class}} href="#"
             class="snipcart-add-item"
             data-item-id="{{ post.sku }}"
             data-item-name="{{ post.title }}"
             data-item-price="{{ post.price }}"
             data-item-weight="20"
             data-item-url="{{ site.url }}{{ site.baseurl }}"
             data-item-description="{{ post.description }}">
             Buy Snipcart
           </a>
        {% when nill %}
            <a {{include.field_Data.class}} href="{{ site.baseurl}}{{ post.link }}">
        {% else %}
            <a {{include.field_Data.class}} href="{{ include.field_Data.link }}">
   {% endcase %}

    <!-- LINK ICON -->
   {% if include.field_Data.icon %}
      <i class="{{ include.field_Data.icon.class }}">{{ include.field_Data.icon.label }}</i>
   {% endif %}

  <!--  LINK LABEL -->
   {{ include.field_Data.label }}
    {{ aElement }}
  {{linkElementEnd}}

demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: link
                  data:
                     button: yes
                     link: posts
                     label: Link to post
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: link
                  data:
                     button: yes
                     link: posts
                     label: Link to post

---

{% include basic_components/page.html %}
