---
title: SRC IMAGE FIELD
tag: fieldcase
description: |
  a field to use when we want one image and the content has only one image and be rensponsive
parameters:
    limit: specify the number of images to show
    link: |
      1. post:  the image links to the post's url
      2. products:  the image links to the products's url
    image-hash:  "how to loop through the images, we can use http so do not use image-path"
    images-path: the folder where the images reside
    theme: theme the div of the image adding class, id or other attributes
    srcset:  "large.jpg 1024w, medium.jpg 640w, small.jpg 320w"
    sizes:  "(min-width: 36em) 33.3vw, 100v"
default:
yaml: |
   - field: srcset
     data:
        theme:
          class:
        link:
        srcset: large.jpg 1024w, medium.jpg 640w, small.jpg 320w
        sizes: (min-width: 36em) 33.3vw, 100v
        image-hash: image
        image-path:
debug: html_components/fieldscases/imagecase.html
example: |
    <div {% include basic_components/pageincludes/themeelement.html elementData=include.field_Data.theme %} >
      {% case include.field_Data.link %}
        {% when 'post' %}
          <a href="{{ site.baseurl}}{{ post.url }}"> {% capture linkEND %} </a> {% endcapture %}
        {% when 'products' %}
          <a href="{{ site.baseurl}}products/{{ post.sku }}.html"> {% capture linkEND %} </a> {% endcapture %}
        {% endcase %}

      {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
        <img
          src="{{ post.[include.field_Data.image-hash] }}"
          srcset="{{ post.[include.field_Data.srcset] }}"
          sizes="{{ post.[include.field_Data.srcset] }}"
          alt="{{ post.alt }}">
      {% else %}
        <img
          src="{{ site.baseurl}}{{ include.field_Data.image-path }}{{ post.[include.field_Data.image-hash] }}"
          srcset="{{ post.[include.field_Data.srcset] }}"
          sizes="{{ post.[include.field_Data.srcset] }}"
          alt="{{ post.alt }}">
      {% endif %}
    {{ linkEND }}
    </div>
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: images
                  data:
                     tag: main
                     image-hash: image
                     theme:
                       class: post-image
config:
- section:
    data:
      htmlelement: section
  divs:
     - div:
         theme:
          class: classDiv
       components:
        - component: one-post
          data:
            data-type: collection
            content-type: test-collection
            post-title: 'one post'
            fields:
              - field: images
                data:
                   tag: main
                   image-hash: image
                   theme:
                     class: post-image
---

{% include basic_components/page.html %}
