---
title: THUMBNAILS FIELD
tag: fieldcase
description: |
        use this field to create thumbnails with link as #image1 to use as hash to use it with slideshows ex.owlslideshow
parameters:
  class:: the class to add to the link
  image-hash: |
      how to loop through the images, we can use http://… so do not use image-path
  images-path: the folder where the images reside
yaml: |
    - field: thumbnail
          data:
            class:
            image-hash:
            image-path:
            alt:
debug: html_components/fieldscases/thumbnailcase.html
example: |
    <a class="slideshow-thumbnail {{ include.field_Data.class }}" href="#{{ post.[include.field_Data.image-hash] }}">
      {% if post.[include.field_Data.image-hash] contains 'https://' or post.[include.field_Data.image-hash] contains 'http://' %}
        <img src="{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% else %}
        <img src="{{ site.baseurl}}{{ include.field_Data.images-path }}{{ post.[include.field_Data.image-hash] }}" alt="{{ post.alt }}">
      {% endif %}
    </a>
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: thumbnail
                      data:
                        class: thumbnail
                        image-hash: image
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: thumbnail
                  data:
                    class: thumbnail
                    image-hash: image
---


{% include basic_components/page.html %}
