---
title: TITLE FIELD
tag: fieldcase
description: |
  use thiw field to show the title bcause usualy is a link and links to the post
parameters:
    field:  the field to use as title
    element:  choose whether to add h1,h2,...
    link: option posts if you want the title to link to posts
yaml: |
    - field: title
        data:
          field:
          element
          link:
debug: html_components/fieldscases/titleCase.html
example: |
      <!-- DEBUG FILE: html_components/fieldscases/titleCase.html -->
      <!-- TITLE CASE -->
      {% case include.field_Data.link %}
      {% when 'posts' %}
      <div
       {% for data in include.field_Data %}
           {% case data[0] %}
            {% when 'id' %}
               {{data[0]}}="{{data[1]}}"
            {% when 'class' %}
               {{data[0]}}="{{data[1]}}"
            {% when 'theme' %}
               {{data[0]}}="{{data[1]}}"
            {% endcase%}
        {% endfor %}>
            <a href="{{ site.baseurl}}{{ post.url }}">{{ post.[include.field_Field] }}</a>
         </div>

      {% else %}
      <!--  -->
      <!-- Check if the field is not empty -->
      <!--  -->
        {% if post.[field.field] != nil %}
           {% if include.field_Data.element %}
             <{{ include.field_Data.element }}
              {% capture elementEND %}{{ include.field_Data.element }}{% endcapture %}
              {% else %}
              <div {% capture elementEND %}div{% endcapture %}
             {% endif %}
                {% for data in include.field_Data %}
                   {% case data[0] %}
                    {% when 'id' %}
                       {{data[0]}}="{{data[1]}}"
                    {% when 'class' %}
                       {{data[0]}}="{{data[1]}}"
                    {% when 'theme' %}
                       {{data[0]}}="{{data[1]}}"
                    {% endcase%}
                {% endfor %}>

                   {{ post.[include.field_Field] }}

                </{{ elementEND }}>
        {% endif %}
      {% endcase %}
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: title
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: title
---

{% include basic_components/page.html %}