---
title: VIDEO FIELD
tag: fieldcase
description: |
            use this field to emded a video from you tube, vimeo
parameters:
  service: choose service youtube or vimeo
  video-id: |
            optional  or use the post video-id: from the FRONT MATTER the video id in each platform
yaml: |
    - field: video
          data:
            service:
              1. vimeo
              2. youtube
            video-id:
debug: html_components/fieldscases/videocase.html
example: |
    {% case include.field_Data.service %}

    {% when 'youtube' %}
       <div class="video">
       <iframe width="640" height="360"  src="//www.youtube.com/embed/{{include.field_Data.video-id}} {{ post.video-id }}" frameborder="0" allowfullscreen></iframe>
          </div>

    {% when 'vimeo' %}
        <div class="video">
       <iframe src="//player.vimeo.com/video/{{include.field_Data.video-id}} {{ post.video-id }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div>

    {% endcase %}
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: video
                  data:
                     service: youtube
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: video
                  data:
                     service: youtube
---


{% include basic_components/page.html %}
