{% assign component = include.component %}
{% assign source = component.url | prepend: site.baseurl %}
{% assign slug = component.slug %}
{% assign title = component.slug | replace: "-", " " | capitalize %}
{% assign description = component.description | markdownify %}
{% assign html = component.content %}
{% assign demo-yaml = component.demo-config %}
{% assign yaml = component.yaml %}
{% assign default = component.default %}
{% assign liquid = component.example %}
{% assign parameters = component.parameters %}
{% assign tab_name = slug | append: "-" | append: "-tab" %}


{% if component.type == "demo" %}
    <div class="s-styleguide-showcase" id="{{ slug }}">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ title }}</h2>
        </div>

          <div class="s-styleguide-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">

              <li role="presentation" class="active">
                <a href="#{{ tab_name }}-demo" aria-controls="{{ tab_name }}-demo" role="tab" data-toggle="tab">Demo</a>
              </li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

              <div role="tabpanel" class="tab-pane active" id="{{ tab_name }}-demo">
                <a class="c-styleguide-showcase__fullscreen"
                   href="{{ source }}"
                   title="Open in fullscreen"
                   target="_blank">
                  <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                  <span class="sr-only">Open in fullscreen</span>
                </a>
                <iframe src="{{ source }}" title="{{ title }}"></iframe>
              </div>

            </div>
          </div>

          
        <div class="panel-body">
          {{ description }}

          <table class="table">
            <thead>
              <tr>
                <th>Configuration</th>
                <th>Demo Configuration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>
                {% highlight liquid %}{{ yaml }}{% endhighlight %}
            </td>
            <td>
                {% highlight liquid %}{{ demo-yaml }}{% endhighlight %}
          </td>
              </tr>
              </tbody>
            </table>




        </div>
      </div>
    </div>

{% else %}

  <div class="s-styleguide-showcase" id="{{ slug }}">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">{{ title }}</h2>
      </div>

      <div class="panel-body">
        {{ description }}

        <table class="table">
          <thead>
            <tr>
              <th>Configuration</th>
              <th>Demo Configuration</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td>
                {% highlight liquid %}{{ yaml }}{% endhighlight %}
          </td>
          <td>
              {% highlight liquid %}{{ demo-yaml }}{% endhighlight %}
        </td>
            </tr>
            </tbody>
          </table>


        <table class="table">
          <thead>
            <tr>
              <th>Parameter</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
          {% for parameter in parameters %}
            {% assign parameter_name = parameter[0] %}
            {% assign parameter_desc = parameter[1] | markdownify %}
            <tr>
              <td><code>{{ parameter_name }}</code></td>
              <td>{{ parameter_desc }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <div class="s-styleguide-tabs">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">

            <li role="presentation" class="active">
              <a href="#{{ tab_name }}-demo" aria-controls="{{ tab_name }}-demo" role="tab" data-toggle="tab">Demo</a>
            </li>

            <li role="presentation">
              <a href="#{{ tab_name }}-liquid" aria-controls="{{ tab_name }}-liquid" role="tab" data-toggle="tab">Liquid</a>
            </li>

            <li role="presentation">
              <a href="#{{ tab_name }}-html" aria-controls="{{ tab_name }}-html" role="tab" data-toggle="tab">HTML</a>
            </li>

          </ul>

          <!-- Tab panes -->
          <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="{{ tab_name }}-demo">
              <a class="c-styleguide-showcase__fullscreen"
                 href="{{ source }}"
                 title="Open in fullscreen"
                 target="_blank">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                <span class="sr-only">Open in fullscreen</span>
              </a>
              <iframe src="{{ source }}" title="{{ title }}"></iframe>
            </div>

            <div role="tabpanel" class="tab-pane" id="{{ tab_name }}-liquid">
              {% highlight liquid %}{{ liquid }}{% endhighlight %}
            </div>

            <div role="tabpanel" class="tab-pane" id="{{ tab_name }}-html">

                {% capture _content %}{{ html }}{% endcapture %}
                {% assign _comments = "<!-- -->" | split: " " %}

                  {% assign _clippings = "html head title base link meta style body article section nav aside h1 h2 h3 h4 h5 h6 hgroup header footer address p hr blockquote ol ul li dl dt dd figure figcaption main div table caption colgroup col tbody thead tfoot tr td th" | split: " " %}

                {% for _element in _clippings %}
                  {% assign _edges = " <e;<e; </e>;</e>;</e> ;</e>" | replace: "e", _element | split: ";" %}
                  {% assign _content = _content | replace: _edges[0], _edges[1] | replace: _edges[2], _edges[3] | replace: _edges[4], _edges[5] %}
                {% endfor %}

              {% if _comments.size == 2 %}
                {% assign _comment_befores = _content | split: _comments.first %}
                {% for _comment_before in _comment_befores %}
                  {% assign _comment_content = _comment_before | split: _comments.last | first %}
                  {% if _comment_content %}
                    {% capture _comment %}{{ _comments.first }}{{ _comment_content }}{{ _comments.last }}{% endcapture %}
                    {% assign _content = _content | remove: _comment %}
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% highlight html %}{{  _content | strip }}{% endhighlight %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endif%}