<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/pages/basic-components.html">Basic Components </a></li>
        <li><a href="/pages/html-components.html">HTML Components </a></li>
        <li><a href="/pages/list-posts.html">List Posts</a></li>  
        <li><a href="/pages/fieldcases.html">Fieldcases</a></li>
        <li><a href="/pages/formcases.html">Formcases</a></li>
        <li><a href="/pages/materializecss.html">Materialize CSS</a></li>
        <li><a href="/pages/tutorials.html">Tutorials</a></li>
      </ul
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
