<div class="scrollspy">
  <div class="s-styleguide-aside hidden-xs hidden-sm">
    <ul class="nav">
      {% assign components = site.[include.collection] | where:'tag',include.tag %}
      {% for component in components %}
        {% assign component_title = component.slug | replace: "-", " " | capitalize %}
        <li>
          <a href="#{{ component.slug }}">
            {{ component_title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
