<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <link rel="stylesheet" href="{{ "/assets/css/examples/css/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ url }}">

  <!-- Stylesheets specific to the styleguide page -->
    <link rel="stylesheet" href="{{ "/assets/css/examples/css/styleguide.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Stylesheet specific to the rendered iframe of a component -->
    <link rel="stylesheet" href="{{ "/assets/css/examples/css/styleguide-entry.css" | prepend: site.baseurl }}">

</head>
