---
layout: examples/styleguide
---

<div class="container">

  <!-- Styleguide header introducing the content -->
  {% include examples/styleguide/header.html %}

  <div class="row">

    <!-- Styleguide aside navigation -->
    <div class="col-md-3">
      {% include examples/styleguide/navigation.html tag="basic_components" collection="styleguide" %}
    </div>

    <!-- Styleguide main content area -->
    <div class="col-md-9">
      {% assign styleguide = site.styleguide | where:'tag','basic_components'%}
      {% for component in styleguide %}
        {% include examples/styleguide/component.html
          component = component
        %}
      {% endfor %}
    </div>

  </div>

</div>
