---
layout: examples/styleguide
---

<div class="container">

  <!-- Styleguide header introducing the content -->
  {% include examples/styleguide/header.html %}

  <div class="row">

    <!-- Styleguide aside navigation -->
    <div class="col-md-3">
     <div class="scrollspy">
        <div class="s-styleguide-aside hidden-xs hidden-sm">
          <ul class="nav">
            {% assign components = site.tutorials %}
            {% for component in components %}
              {% assign component_title = component.slug | replace: "-", " " | capitalize %}
              <li>
                <a href="#{{ component.slug }}">
                  {{ component_title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Styleguide main content area -->
    <div class="col-md-9">
      {% for component in site.tutorials %}
          <div class="s-styleguide-showcase" id="{{ component.slug }}">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{{ component.title }}</h2>
        </div>
           <div class="panel-body">
           {{ component.content }}
           </div>                    
        </div>
        </div>
      {% endfor %}
    </div>

  </div>

</div>
