---
title: Layouts Susy
css: |
  .simple-layout {
    .page {
      header {
        
      }
      .main {

      }
      .sidebar {

      }
    }
  }
---
<div class="simple-layout">
  <div class="page">
    <div class="header">

    </div>
    <div class="main">
      <div class="content">

      </div>
      <div class="sidebar">

      </div>
    </div>
  </div>
</div>
