<!DOCTYPE html>
<html lang="gr">

  {% include basic_components/head.html %}

  <body>


      <div class="page {{ page.pagetitle}}">

        {% include basic_components/page.html config-file='header-materialize-hero' %}

        {{ content }}

        {% include basic_components/page.html config-file='footer' %}

         </div>

      <script type="text/javascript" src="{{ site.baseurl }}/js/components.js"></script>

     {% include basic_components/example-perpageplugins.html example='slideshow' folder='list-posts' %}
     {% include basic_components/perpageplugins.html %}

  </body>

</html>
