---
layout: examples/styleguide-default-materializecss
title: SELECT FIELD
tag: formcase
description: |
        use this field to create thumbnails with link as #image1 to use as hash to use it with slideshows ex.owlslideshow
parameters:
  class:: the class to add to the link
  image-hash: |
      how to loop through the images, we can use http://… so do not use image-path
  images-path: the folder where the images reside
yaml: |
  - field: select
     wrapperDiv:
       theme:
          class: input-field persons   
     data:
       name: persons
       label: Persons
       name: persons
       required: required
     options:
          - option: Persons
            data: disabled selected
          - option: 1
          - option: 2
          - option: 3
          - option: 4 
          - option: 5
          - option: 6
          - option: 7
          - option: 8 
debug: html_components/form.html
example: |
   <select {% for data in field.data %}                                                     
              {% unless data[0] == 'options' or data[0] == 'conditions' %}
                 {{ data[0] }}="{{ data[1] }}" 
               {% endunless %}
            {% endfor %}>
    {% for option in field.data.options %}
       <option value="{{ option.option }}">{{ option.option }}</option>
      {%  endfor %}
   </select>
demo-config: |
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: thumbnail
                      data:
                        class: thumbnail
                        image-hash: image
config:
  - section:
      data:
        htmlelement: section
    divs:
       - div:
           theme:
            class: classDiv
         components:
          - component: one-post
            data:
              data-type: collection
              content-type: test-collection
              post-title: 'one post'
              fields:
                - field: thumbnail
                  data:
                    class: thumbnail
                    image-hash: image
---


{% include basic_components/page.html %}
